{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel = 'stylesheet' href = '{% static 'e/css/style.css' %}'>
    <title>{% block title%}{% endblock %}</title>
</head>
<body>
    <header>
        <span class = 'about'>
        <a href = {% url 'about' %}><i class="bi bi-file-person"></i>О нас</a>
        </span> 

        <span class = 'order'>
        <a href = {% url 'index_shop'%}><i class="bi bi-cart"></i>Заказать</a>
        </span>
        
        
    </header>
    
    <aside>
        <img src = '{% static 'e/image/logo.png' %}' alt="Логотип">
        <span class="logo">Интернет-магазин</span>
        <ul class="links">
            
            <a href = {% url 'about' %}><li><i class="bi bi-file-person"></i>О нас</li></a>
            <a href = {% url 'index_shop'%}><li><i class="bi bi-cart"></i>Заказать</li></a>
            <a href = {% url 'comments'%}><li><i class="bi bi-chat-left"></i>Комментарии</li></a>
        </ul>

    </aside>

    <main>
        
        
        <!-- {{test}}
        {%for i in test %}
        <p>{{i | upper}}</p>
        {%endfor%}
        {{test2.test}}
        {% if test2.test == '123' %}
        <P>qwerty</P>
        {%endif%}
        {%filter upper %}
        <p>{{name}}</p>
        {%endfilter%} -->
        
    {% block body%}{% endblock %}
    </main>
</body>
</html>